---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Professores Nativos",
    description:
      "Aprenda com falantes nativos para dominar o idioma de forma natural e precisa.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Metodologia Inovadora",
    description:
      "Nossos cursos focam na comunicação real, garantindo fluência rápida e prática.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Flexibilidade de Horários",
    description:
      "Escolha os melhores horários para você e aprenda no seu próprio ritmo.",
    icon: "bx:bxs-data",
  },
  {
    title: "Material Didático Atualizado",
    description:
      "Utilizamos materiais atualizados e recursos interativos para um aprendizado dinâmico.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Aulas Online e Presenciais",
    description:
      "Estude onde e como preferir, com a mesma qualidade de ensino em ambos os formatos.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Comunidade de Aprendizes",
    description:
      "Participe de eventos e grupos de estudo que promovem a prática contínua do idioma.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Inscreva-se agora e ganhe uma aula experimental gratuita!
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Comece hoje mesmo e veja como é fácil dominar um novo idioma com a Speak
    Idiomas.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
